{
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "requireConfigFile": false,
        "babelOptions": {
            "presets": ["@babel/preset-react"]
         }
    },
    "extends": "airbnb",
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "globals": {
        "graphql": true
    },
    "rules": {
        "import/no-extraneous-dependencies": [0],
        "no-console": ["error", { "allow": ["warn", "error"] }],
        "react/jsx-one-expression-per-line": [0],
        "react/function-component-definition": [2, { "namedComponents": "arrow-function" }]
    }
}